body {
background-color: #121212;
margin-left: 18px;
text-decoration: none;
font-size: 18px;
color: #e5e5e5;
transition: 0.3s;
}


nav a:hover {
color: #6fb1ff;
}


.container {
width: 90%;
max-width: 900px;
margin: 20px auto;
}


.post {
background-color: #1a1a1a;
border-radius: 10px;
padding: 15px;
margin-bottom: 20px;
border: 1px solid #333;
}


.post h3 {
margin: 0;
color: #6fb1ff;
}


.post p {
margin-top: 10px;
}


.perfil-header {
text-align: center;
margin-top: 30px;
}


.perfil-header h2 {
color: #6fb1ff;
}


.galeria {
margin-top: 20px;
display: grid;
grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
gap: 15px;
}


.foto-placeholder {
background-color: #333;
height: 150px;
border-radius: 10px;
display: flex;
justify-content: center;
align-items: center;
color: #777;
font-size: 14px;
}


.search-box {
width: 100%;
padding: 10px;
border-radius: 8px;
border: none;
background: #1a1a1a;
color: white;
border: 1px solid #333;
}